body{
    background-color: black;
    /* overflow-x: hidden; */
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}
#left{
    width: 20%;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09509e;
    padding: 0.5rem 1rem;

}

#nav img{
    width: 40%;
}
#center{
    width: 50%;
}

#center ul{
    display: flex;
    gap: 10%;

}

#center a:hover {
    background-color: wheat;
    color: crimson;
    text-align: center;
}
#center li a{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
}

#male {
    padding: 2rem;

}
#center li {
    list-style-type: none;
}
.cont{

    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    border: 5px solid #09509e;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: 10%;
    
    
}
.cont img{
    width: 100%;
    height: 25rem;
    border: 5px solid #09509e;
}


.cont div{
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
}
.cont button{
    width: 100%;
    height: 3rem;
    border: none;
    background-color:#09509e;
    color:wheat;
    font-size: 2rem;


}

.design{
    display: grid;
    grid-template-columns: repeat(3,30%); 
    justify-content: space-between;
}

.shirts{
    position: relative;
}
.shirts #shirt{
    display: none;
}

.shirts:hover #shirt{
    display: block;
    width: 125%;
    background-color: #09509e;
    position: absolute;
    color: white;
}

#shirt li:hover a{
    display: block;
    width: 80%;
    background-color: wheat;
    color: crimson;
}

/* #shirt li:hover a{
    color: crimson;
} */

#cart{
    width: 25%;
    background-color: wheat;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    padding: 1rem;
    transition: 1s;
}
#cart-header h1{
    text-align: center;
}
#cart-header h3{
    text-align: right;
}
#cart-footer button{
    width: 90%;
    background-color: red;
    color: white;
    border: none;
    font-size: 2rem;
}
#cancel {
    cursor: pointer;
}
.cart_body_design{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}
.p_img img{
    width: 100%;
}
.p_details input{
    width: 30%;
    
}
.p_subtotal{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#right button{
    background-color: crimson;
    color: white;
    font-size: 1.5rem;
    padding: 0rem 1rem;
    border-radius: 10px;
}

#right button:hover{
    background-color: rgb(251, 108, 136);
}
